@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2>Contact Us</h2>
    <address>
        1407 Bernard Street<br />
        Denton, TX 76201<br />
        <abbr title="Phone">P:</abbr>
        940.977.2982
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:arunprataptomar@my.unt.edu">arunprataptomar@my.unt.edu</a><br />
    </address>
</main>